header {
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #363636;
}

header img {
    width: 9em;
    height: 9em;
    object-fit: cover;
    margin-left: 2em;
}

header nav {
    display: flex;
    gap: 3em;
    margin-left: 10em;
    margin-top: 1.6em;
}

header nav a {
    transition: .5s all ease;
    font-size: 1.3em;
    font-family: var(--primary-font);
}

header nav a:hover {
    transform: scale(1.1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}