@media screen and (max-width: 480px) {
    
    header nav {
        display: none;
    }

    header img {
        width: 6em;
        height: 6em;
        object-fit: cover;
    }

    header nav {
        /* margin-left: 4em; */
        display: none;
    }

    header nav a:nth-child(1) {
        display: none;
    }


    .presentation {
        display: flex;
        flex-direction: column;
    }

    .presentation h1 {
        font-size: 1em;
    }

    .presentation img {
        width: 10em;
        height: 10em;
        object-fit: cover;
        margin-top: 3em;
    } 
    
    #AboutUs #About {
    display: none;
    }

    #AboutUs p {
        width: 23em;
        margin: 0 auto;
        font-size: 12px;
        position: absolute;
        margin-top: 58em;
        margin-left: 2em;
    }

    /* #container .card__container {
        display: flex;
        flex-direction: column;
        margin-top: -5em;
    } */

    #container .card__container {
        display: flex;
        gap: 7.7em;
        flex-direction: column;
    }

    #container .card__article img {
        width: 10em;
        height: 10em;
        object-fit: cover;
    }

    #container .card__container .card__data .card__description {
        margin-left: 1em;
        width: 10em;
    }

    #container .card__container .card__article .card__data {
        width: 15em;
        height: 15em;
        margin-left: -3.5em;
    }

    #container .card__container .card__article .card__data span {
        width: 1em;
    }

    #mision {
        display: flex;
        gap: 1.3em;
        flex-direction: column;
        position: absolute;
        margin-top: 141em;
    }

    #mision h2 {
        font-size: 15px;
        margin-left: -5em;
    }

    #mision p {
        width: 18em;
        margin-left: -10em;
    }

    #vision {
        display: flex;
        gap: 1.3em;
        flex-direction: column;
        position: absolute;
        margin-top: 169em;
    }

    #vision h2 {
        font-size: 15px;
        margin-left: -5em;
        margin-top: -5.3em;
    }

    .CATEGR {
        font-size: 12px;
        position: absolute;
        margin-top: 100em;
        margin-left: 7em;
    }

    #vision p {
        width: 18em;
        margin-left: -10em;
    }

    footer {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 195em;
    }

    footer .subFooter1 img {
        margin-left: .7em;
    }

    footer .subFooter1 p {
        font-size: 12px;
        width: 8em;
    }

    footer .items {
        display: grid;
        grid-template-columns: 70px 70px;
        margin-left: 1em;
    }

    footer .icons {
        display: flex;
        flex-direction: row;
    }

    span {
        font-size: 12px;
        margin-left: -2em;
    }

    body {
        transition: .9s all ease;
    }
}